* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

.green-area {
    padding: 50px 100px 100px 100px;
    background-color: #0a570a;
    ;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-nav-text {
    font-family: "Christmas Kring-kring", sans-serif;
}

a.middle-nav-link {
    text-decoration: none;
    color: #fff;
    padding-right: 20px;
    font-weight: 300;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.right-nav-img {
    width: 20px;
}

.right-nav-btn {
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
}
.right-nav-btn:hover{
    transition: all 0.3s ease-in;
    background-color: #fff;
    color: #044e1e;
}

.intro {
    padding: 140px 0 20px 0;
    display: flex;
}
.right-intro{
    border-radius: 50%;
    box-shadow: 5px 10px 18px 18px #044e1e;
}
.intro-text {
    font-size: 70px;
    font-weight: 700;
    padding-bottom: 70px;
    max-width: 700px;
}

.green-text {
    color: #31c12c;
}

.intro-main-text {
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 70px;
    max-width: 650px;
}

.intro-1-btn,.intro-1-bt,
.intro-2-btn {
    padding: 10px 50px;
    font-size: 16px;
    margin-right: 20px;
    border-radius: 5px;
}

.intro-1-btn,.intro-1-bt {
    background-color: #31c12c;
    color: #fff;
    border: none;
}

.intro-2-btn {
    background-color: transparent;
    color: white;
    border: 2px solid #fff;
}

/*Specials*/
.popspec {
    background: linear-gradient(#f9fff9, #e7fbe6, #e3fde2, #f9fff9, #e5fee4, #f9fff9);
}

.our-specials,
.popular-v,
.today,
.customers {
    padding: 100px 100px 0 100px;
}

.special-divs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}

.special-left-1,
.special-right-1 {
    width: 50%;
}

.special-header {
    text-align: center;
    color: #071b07;
    font-size: 42px;
    padding-bottom: 100px;
}

.special-img {
    width: 500px;
}

.egg {
    text-align: center;
    color: #127111;
    margin-bottom: 50px;
}

.special-right-p,
.special-right-pp {
    color: #515452;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 500;
}

.special-right-pp {
    margin-bottom: 50px;
}

.popular {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 100px;
}

.popular-header {
    margin-bottom: 150px;
}

.popular-card {
    box-shadow: 1px 1px 10px #c7f9d8;
    max-width: 400px;
    height: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 40px;
}

.popular-card-title {
    color: #071b07;
    text-align: center;
    padding: 20px;
}

.popular-food-holder {
    margin-top: -75px;
    margin-left: 60px;
    max-width: 200px;
    height: 150px;
    padding: 20px 40px;
    background-color: #bdffba;
    align-items: center;
    border-radius: 20px;
}

.popular-food-holder img {
    max-width: 120px;
}

.popular-card-p {
    color: #515452;
    font-size: 13px;
}

.popular-emoji {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.last-popular-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-main-text {
    font-size: 14px;
    color: #071b07;
    font-weight: 500;
    padding-bottom: 20px;
}

.last-popular-item p {
    font-family: "Montserrat", sans-serif;
    color: #31c12c;
}

.del {
    color: #515452;
    opacity: 0.7;
}

.popular-btn {
    width: 50%;
    background-color: #31c12c;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
}
.intro-1-bt:hover{
    box-shadow: inset 1px 1px 5px #fff;
}
.intro-2-btn:hover{
    transition: all 0.3s ease;
    background-color: #ffffff;
    color: #044e1e;
}
.popular-btn:hover,input[type="submit"]:hover,.intro-1-btn:hover,.intro-1-bt:hover{
    transition: all 0.3s ease;
    background-color: #0a570a;
    cursor: pointer;
}
input:focus{
    outline: none;
}

.today {
    padding-top: 100px;
    padding-bottom: 100px;
}

.today-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.today-div-holder {
    max-width: 400px;
    height: 500px;
    border-radius: 20px;
    margin-right: 1.5%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.today-main-img {
    max-width: 400px;
}

.today-grid-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 3%;
    column-gap: 2%;
    margin-top: -1%;
}

.today-grid-item {
    width: 400px;
    height: 240px;
    border-radius: 20px;
    background-color: #fff;
}

.today-grid-item img {
    width: 200px;
}

.grid-1 {
    background-image: url("/images/pexels-jer-chung-2059151.jpg");
    background-size: cover;
}

.grid-2 {
    background-image: url("/images/pexels-mister-mister-3434523.jpg");
    background-size: cover;
}

.grid-3 {
    background-image: url("/images/pexels-pixabay-315755.jpg");
    background-size: cover;
}

.grid-4 {
    background-image: url("/images/pexels-william-choquette-2641886.jpg");
    background-size: cover;
}

.customers {
    padding-bottom: 100px;
}

.customer-card-holder {
    display: flex;
    justify-content: space-between;
}

.customer-card {
    box-shadow: 1px 1px 18px #c7f9d8;
    width: 430px;
    height: 240px;
    background-color: #fff;
    padding: 4%;
    border-radius: 3%;
}

.img {
    width: 15%;
    border-radius: 25px;
}

.lorem {
    font-size: 70%;
    color: #0a570a;
}

.small-img-text {
    color: #071b07;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 2%;
}

.small-img {
    display: flex;
    align-items: center;
    padding-bottom: 3%;
}

.pp {
    padding-left: 10px;
}

.img-arrow a {
    padding-top: 2%;
}

.arrow {

    width: 20px;
    color: #0a570a;
}

.arrow-back {
    transform: rotateY(180deg);
}

.img-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2%;
}

.contact-form {
    margin-top: 50px;
    max-width: 1500px;
    height: 300px;
    background-color: #c0fabf;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 6%;

}

.contact-image,
.form {
    width: 750px;
    padding: 2% 4%;
}

.form {
    background-image: url("/images/background.svg");
}

.contact-title {
    font-size: 30px;
    color: #0a570a;
    font-weight: 800;
    padding-bottom: 2%;
}

.contact-image {
    height: 300px;
    background-color: #0a570a;
    background-image: url("/images/pexels-mister-mister-3434523.jpg");
    background-size: cover;
    border-radius: 5px 10px 200px 5px;
}

.input-area,
.submit-btn {
    padding: 1% 6%;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.input-area {
    width: 250px;
    color: #071b07;
}

.submit-btn {
    background-color: #31c12c;
    color: #ffffff;
    margin-left: -20px;
}

.footer-v {
    padding: 100px 100px 50px 100px;
    background-color: #0a570a;
}

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.first-foot-col,
.second-foot-col,
.third-foot-col,
.fourth-foot-col,
.fifth-foot-col {
    display: flex;
    flex-direction: column;
}

.home {
    padding-bottom: 20%;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    font-size: 0.8em;
    padding-bottom: 10%;
}

.foot-name {
    font-family: "Christmas Kring-kring", sans-serif;
    font-size: 40px;
}

.foot-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot-social i {
    font-size: 1.5em;
}
.copy{
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
}
button:hover{
    cursor: pointer;
}
.middle-nav-link:hover{
    transition: all 0.3s ease-in;
    border-bottom: 2px solid #ffffff;
}
.footer-link,.middle-nav-link{
    position: relative;
}
/* .footer-link::after:hover{
    transition: all 0.3s ease;
    background-color: #efefef; 
    bottom: 8px;
    content: '';
    display: block;
    height: 0.5px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 50px;
} */
.footer-link:hover{
    transition: all 0.3s ease-in;
    color: #bdffba;
}
@media (max-width:1361px) {
    .right-intro img {
        max-width: 300px;
    }

    .popular {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 100px;
    }

    .popular-v {
        margin-right: auto;
        margin-left: auto;
    }

    .popular-food-holder {
        margin-top: -75px;
        margin-left: 30px;
    }

    .special-divs {
        /* display: grid;
        grid-template-columns: 1fr;*/
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .special-left-1,
    .special-right-1 {
        width: 50%;
    }

    .special-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        width: 400px;
    }

    .egg {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .special-right-pp {
        margin-bottom: 10px;
    }

    .today-grid-holder {
        grid-template-columns: 1fr;
    }
}

@media (max-width:1030px) {
    .right-intro {
        display: none;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .submit-btn {
        margin-top: 20px;
        margin-left: auto;
    }
}

@media (max-width:944px) {
    body {
        font-size: 14px;
    }
}

@media (max-width:826px) {
    .special-divs {
        /* display: grid;
        grid-template-columns: 1fr;*/
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .special-left-1,
    .special-right-1 {
        width: 100%;
    }

    .special-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        width: 300px;
    }

    .middle-nav {
        display: none;
    }

    .today-div {
        flex-direction: column;
        gap: 2%;
    }

    .today-div-holder {
        max-width: 600px;
        height: 400px;
        margin-bottom: 5%;
    }

    .today-main-img {
        max-width: 400px;
    }

    .popular-food-holder {
        margin-top: -75px;
        margin-left: 20px;
        max-width: 150px;
        height: 100px;
        padding: 5px 35px;
        background-color: #bdffba;
        align-items: center;
        border-radius: 20px;
    }

    .popular-food-holder img {
        max-width: 80px;
    }

}

@media (max-width:560px) {
    .green-area {
        padding: 50px;
    }

    .our-specials,
    .popular-v,
    .today,
    .customers {
        padding: 50px 50px 0 50px;
    }

    .popular {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 100px;
    }

    .popular-food-holder {
        margin-top: -75px;
        margin-left: 60px;
        max-width: 200px;
        height: 150px;
        padding: 5px 35px;
        background-color: #bdffba;
        align-items: center;
        border-radius: 20px;
    }

    .popular-food-holder img {
        max-width: 120px;
    }

    .popular-header {
        margin-bottom: 20px;
    }

    .customer-heading {
        margin-top: 70px;
        padding-bottom: 20px;
    }

    .customer-card-holder {
        flex-direction: column;
    }

    .customer-card {
        margin-bottom: 2%;
    }

    .customer-card .lorem {
        font-size: 12px;
    }

    .footer-v {
        padding: 20px;
    }
}